/* Files for the Syllabus Progress Tracker. */

*{
	box-sizing: border-box;
}

/* Overwriting some styles from BootStrap and Materialize */

select{
	display: inline-block;
}

.row{
	padding: 0;
	margin: 0;
}

body{
	font-family: Arial,sans-serif;
	line-height: 2;
	border: 0;
}

/*	Now time for the real components. */

#root{
	padding: 0;
	width: 100%;
	margin: 0;
	min-height: 100%;
}

#intro{
	text-align: center;
	padding: 4rem;
	padding-bottom: 5rem;
	color: #ffffff;
	background: #0248ff ;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #0083B0, #1756f9);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #0083B0, #1756f9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.image{
	max-width: 100%;
}

.shadowed{
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.logincontainer{
	text-align: center;
	background: #f3f5f9;
	padding: 1rem;
}

.loginform{
	text-align: center;
	padding: 2rem;
	display: inline-block;
	border: none;
}

.formlabel{
	display: inline-block;
	color: gray;
	font-size: 0.75em;
	margin: 0;
	text-align: left;
}

#nameinput{
	background: #f9fafa;
	border-bottom: none;
	border: 0.1rem solid #d4d9dd;
	padding-left: 0.35em;
	border-radius: 0.2rem;
}

#nameinput:focus,#nameinput:active{
	border-bottom: none;
}

.input-field{
	border: 0.1rem solid #d4d9dd;
}

.fullwidthbutton{
	background: #15cd72;
	color: #ffffff;
	width: 100%;
}

/* Syllabus Styles */

.subjectname{
	font-size: 1.8em;
	font-weight: normal;
}

.semester{
	padding: 0 1rem;
}

.semestername{
	background: #ffffff;
	color: #000;
}

ul{
	padding: 1rem;
	padding-left: 1rem !important;
}

ul li{
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height: auto;
	margin: 0;
	background: #262a2c;
	color: #fff;
	overflow: hidden;
	border-radius: 0.15rem;
}

ul > li > .left, ul > li > .right{
	padding: 1rem;
}

.semestername{
	padding: 1rem;
	font-size: 1.9em;
	font-weight: bolder;
	display: block;
	background: #fff;
	color: #000;
	border-bottom: 0.05rem solid darkgray;
}

.nocontent{
	text-align: center;
	display: block;
}

/* User Header Styles */

.userHeader{
	padding: 2rem;
	border-top: 0.5rem solid #04bd8a;
	background: #111518;
	color: #ffffff;
}

.userName{
	font-size: 1.3em;
}

.year{
	font-weight: bold;
}

.course{
	font-weight: bold;
}

.userprogress{
	border-radius: 0.15rem;
	padding: 0.5rem;
	background: #2c96df;
	text-align: center;
}